.profilePhoto{
  border-radius: 10px;
  margin-bottom: 10px;
}

.profile-description-span{
  text-align: right;
  color:dimgray;
  margin-right: 5px;
}

.profile-description-header{
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 10px;
}